*.iml
*/.gradle/*
*/target/*
*/.idea/
**/build/**
**/out/**
out/
build/
*.classpath*
*.settings*
*.eclipse.*
*.metadata*
*.log
*.recommenders*
.idea/
*.gz
*.recommenders*
*.project*
*bin/
*.classpath
target/
.metadata/
.recommenders/
RemoteSystemsTempFiles/
*.classpath*
*.project
*.settings
*.recommenders
*.metadata*
*.eclipse.*
*.txt
*.DS_Store
*LOG_FILEPATH*
**/node_modules
.gradle/*
**/gradlew.bat
**/gradle/
**/gradlew
*/gradle/*
*/gradlew
*/gradle-wrapper.properties
**resources/wf-**
.idea/*
.idea/misc.xml
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
