*.iml
*/.gradle/*
*/target/*
*/.idea/
**/build/**
**/out/**
out/
build/
*.classpath*
*.settings*
*.eclipse.*
*.metadata*
*.log
*.recommenders*
.idea/
*.gz
*.recommenders*
*.project*
*bin/
*.classpath
target/
.metadata/
.recommenders/
RemoteSystemsTempFiles/
*.classpath*
*.project
*.settings
*.recommenders
*.metadata*
*.eclipse.*
*.txt
*.DS_Store
*LOG_FILEPATH*
**/node_modules
.gradle/*
**/gradlew.bat
**/gradle/
**/gradlew
*/gradle/*
*/gradlew
*/gradle-wrapper.properties
**resources/wf-**
.idea/*
.idea/misc.xml
